.prototype_body_8 {
  background: var(--synth-white);
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  padding: 150px;
  background-image: url(bgSynth.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 14px; 
  height: 8px; 
  background-color: var(--synth-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--synth-black);
  border-radius: 9em;
}

#prototype_8 {
  margin: auto;

  .Container {
    width: 75vw;
    .PlayStop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .SC_Button {
        width: 700px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: var(--synth-white);
        background: var(--synth-black);
        font-size: 20px;
        padding-right: 30px;
        border-radius: 40px;
      }
    }
    .SC_ToggleButton {
      padding: 8px 10px;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      background-color: var(--white);
      color: var(--black);
      cursor: pointer;
    
      &:hover:not(.active) {
        background-color: var(--light-grey);
      }
    
      &.active {
        font-weight: 800;
        color: var(--black);
        background-color: var(--dark-green);
        cursor: default;
      }
    }
    .DelayChorus {
      background-color: var(--synth-red);
      border-radius: 40px;
      padding: 15px 30px 15px 30px;
      color: var(--synth-white);
      display: flex;
      justify-content: space-between;

      .SC_Slider{
        h3 {
          font-size: 18px;
          margin: 5px 0 10px 0;
          font-weight: 100;
        }

        input[type='range'] {
          -webkit-appearance: none;
          width: 640px;
          border-radius: 30px;

          &:hover {
            background: var(--synth-gray);
          }

          &::-webkit-slider-runnable-track {
            height: 14px;
            background: var(--synth-white);
            border: none;
            border-radius: 30px;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 24px;
            height: 24px;
            border: 0;
            background: url(sliderStar.svg);
            background-size: cover;
            cursor: pointer;
            margin-top: -6px;
          }

          &:focus {
            outline: none;
          }
        }
          
      } 
    }

    .melodies {
      display: flex;
      justify-content: space-between;
      background-color: var(--synth-red);
      padding: 30px;
      border-radius: 40px;
      margin-top: 15px;
      color: var(--synth-white);
      margin-bottom: 150px;

      h2 {
        margin: 10px 0 5px 0;
        font-size: 20px;
        font-weight: 100;
        text-align: right;
      }

      h3 {
        font-size: 18px;
        margin: 10px 0 10px 0;
        font-weight: 100;
      }

      .SC_ToggleButtonSet {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        
        .SC_ToggleButton{
          margin-bottom: 10px;
          width: 640px;
          border-radius: 30px;
          background-color: var(--synth-white);

          &:hover:not(.active){
            transition: .3s;
            background-color: var(--synth-gray);
          }

          &.active {
            background-color: var(--synth-black);
            color: var(--synth-white);
          }
        }
      }

      .SC_Slider{
        margin-bottom: 15px;

        input[type='range'] {
          -webkit-appearance: none;
          width: 640px;
          border-radius: 30px;

          &:hover {
            background: var(--synth-gray);
          }

          &::-webkit-slider-runnable-track {
            height: 14px;
            background: var(--synth-white);
            border: none;
            border-radius: 30px;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 24px;
            height: 24px;
            border: 0;
            background: url(sliderStar.svg);
            background-size: cover;
            cursor: pointer;
            margin-top: -6px;
          }

          &:focus {
            outline: none;
          }
        }
          
      } 

    }
  }


 
}
