:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #262626;
  --medium-grey: #8d8d8d;
  --grey: #c5c5c5;
  --light-grey: #cfcfcf;
  --dark-green: #00ff29;
  --acid-green: #79ff39;
  --hm1-white: #f6f6f1;
  --hm1-red: #D81E05;
  --synth-white: #F6F6F1;
  --synth-black: #080808;
  --synth-red: #D81E05;
  --synth-gray: #848484;
}
